img{
    width: 250px;
    height: auto;
}
.heading{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(237, 50, 17);
}
.container{
    text-align: center;
}
nav{
    color: rgb(18, 211, 73);
}